<mat-list role="list">

    <div class="profile-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Dulquer_Salmaan_at_Zoya_Factor_Trailer_Launch_function_%28cropped%29.jpg" alt="no image">
        <h3>Dulquer</h3>
        <h4>dulquer@gmail.com</h4>
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Institution</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Cources</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employees</a>

  </mat-list>
  